[Unit]
Description=GPS Panel
After=multi-user.target

[Service]
Type=idle
User=nobody
ExecStart=/usr/bin/python3 /opt/gpspanel/gpspanel.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
