bidict==0.22.1
blinker==1.6.2
click==8.1.3
Flask==2.3.2
Flask-SocketIO==5.3.4
gevent==22.10.2
gps3==0.33.3
greenlet==2.0.2
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
Pillow==9.5.0
python-engineio==4.4.1
python-socketio==5.8.0
Werkzeug==2.3.4
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
